.header{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    width: 50vh;
    border-radius: 10px;
    padding: 0px 20px;
    margin-top: 100px;
    margin-bottom: 20px;
}